.nav {
  padding: 5px;
}

.link {
  padding: 5px;
}

main {
  position: relative;
  height: 100%;
}

a.disabled {
  text-decoration: none;
  color: #000000;

  &:hover {
    cursor: not-allowed;
  }
}
